<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application_id</key>
	<string>gwGayK9hrLKiqU9WcVITypTiJjEtvvbJxbsdfqtz</string>
	<key>client_id</key>
	<string>83iZjuMJSs3VdfJcKIUuLfXighJGgQsaQxYaMTdd</string>
</dict>
</plist>
